@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Staatliches&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.rock {
  font-family: 'Rock Salt';

}
.staat {
  font-family: 'Staatliches'  ;}
.heading2{
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(https://media2.giphy.com/media/HkEDr0jVekaZO/giphy.gif?cid=790b76115151ed408a9cae4539eb6351baba5d85998ab783&ct=g&rid=giphy.gif
  );
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  position: relative;
}
